/Code/Class3/Atributos/nbproject/private/
/Code/Class3/Atributos/build/
/Code/Class3/Atributos/dist/
/Code/Class4/Ciclos/nbproject/private/
/Code/Class4/Ciclos/build/
/Code/Practice2/Loops Practice/nbproject/private/
/Code/Practice2/Loops Practice/build/
/Code/Class5/Switch/nbproject/private/