/Code/Class3/Atributos/nbproject/private/
/Code/Class3/Atributos/build/
/Code/Class3/Atributos/dist/
/Code/Class4/Ciclos/nbproject/private/
/Code/Class4/Ciclos/build/
/Code/Practice2/Loops Practice/nbproject/private/
/Code/Practice2/Loops Practice/build/
/Code/Class5/Switch/nbproject/private/
/Code/Practice Switch/build/
/Code/Practice Switch/dist/
/Code/Class7/nbproject/private/
/Code/Class7/build/
/Code/Practice8/nbproject/private/
/Code/Practice8/build/
/Code/Practice8/dist/
/Code/Clase9/nbproject/private/
/Code/Clase9/build/
/Code/Clase11/nbproject/private/
/Code/Practica Matriz/nbproject/private/
/Code/Practica Matriz/build/
/Code/Clase14/nbproject/private/
/Code/Clase14/build/
/Code/Prueba/nbproject/private/
/Code/Prueba/dist/
/Code/Prueba/build/
/Exams/Examen/nbproject/private/
/Exams/Examen/build/
/Exams/Examen/dist/
/Code/Clase19/nbproject/private/
/Code/Clase19/build/
/Code/Clase17/nbproject/private/
/Code/Clase17/build/
/Code/Class4/Ciclos/dist/
/Code/Class5/Switch/build/
/Code/Class5/Switch/dist/
/Code/Class7/dist/
/Code/Clase9/dist/
/Code/Clase11/dist/
/Code/Clase11/build/
/Code/Clase14/dist/
/Code/Clase16/nbproject/private/
/Code/Clase16/build/
/Code/Clase16/dist/
/Code/Loops Practice/nbproject/private/
/Code/Practica Arreglos/nbproject/private/
/Code/Practica Estructura De Datos/nbproject/private/
/Code/Practica Estructura De Datos/build/
/Code/Practica Arreglos/build/